.App {
  margin: auto 10px;
}
.react-tabs__tab-list{
  text-align: center;
}
.react-tabs__tab{
  padding: 15px 50px !important;
  font-weight: 700;
  border-radius: 0px !important;
}
.react-tabs__tab--selected{
  background: red !important;
  color: white !important;
}
.error{
  color: red;
}
.success{
  color: green;
}